* {
    box-sizing: border-box;
}

.container {
    max-width: 1088px;
    margin: 0 auto;
}

header {
    display: flex;
    flex-direction: column;
}

.page-header {
    background-image: url("../images/Image.jpg");
    width: 100%;
    height: 96vh;
    background-size: cover;
    position: relative;
}

.page-header:before {
    content: ' ';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    background-size: cover;
}

.page-up {
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.page-opacity{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

.page-logo {
    display: flex;
    align-items: center;
}

.page-logo li {
    margin-left: 10px;
    color:white;
    text-transform: uppercase;
    font: normal normal bold 35px/47px Nunito Sans;
}

.page-logo li:nth-child(1) {
    color:red;
}

.page-logo:before {
    content:url("../images/Icon Logo Normal.svg");
}

.page-nav-list {
    display: flex;
}

.page-nav-list a:hover {
    background-color: rgba(255, 255, 255, 0.2)
}

.page-nav-list a {
    color: white;
    text-decoration: none;
    font: normal normal bold 16px/22px Nunito Sans;
    text-transform: uppercase;
    padding:37px;
    transition: 0.5s;
}

.page-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:200px;
    position: relative;
}

.page-title-main {
    font: normal normal 900 90px/90px Nunito Sans;
    margin-bottom: 30px;
    color: white;
    text-transform: uppercase;
}

.page-title-text {
    text-align: center;
    color: white;
    font: normal normal bold 16px/22px Nunito Sans;
}

.buttons-title {
    display: flex;
}

.btn-page-title {
    margin-top: 80px;
    text-decoration: none;
    background-color: rgba(255, 0, 0, 1);
    box-shadow: 0 3px 6px rgba(255, 0, 0, 0.3);
    border-radius: 40px;
    padding:33px 90px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Nunito Sans Bold', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

.btn-page-title-second {
    margin-top: 80px;
    margin-left: 20px;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 40px;
    padding:33px 90px;
    color: rgba(255, 0, 0, 1);
    font-family: "Nunito Sans Bold", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

.button-arrow {
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
}

.button-arrow-img {
    background-color: rgba(255, 0, 0, 1);
    box-shadow: 0 3px 6px rgba(255, 0, 0, 0.3);
    border-radius: 50px;
    padding: 25px;
    margin-top:259px;
}

.article {
    max-width: 352px;
}

.container .title-to-article {
    display: flex;
    align-items: center;
}

.title-to-article {
    display: inline-block;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 35px;
    font: normal normal bold 35px/47px Nunito Sans;
    text-transform: uppercase;

}

.title-to-article:before {
    content: ' ';
    width: 50px;
    height: 3px;
    background-color: rgba(255, 0, 0, 1);
    margin: 10px;
    box-shadow: 0 1px 6px rgba(255, 0, 0, 0.3);
    border-radius: 8px;
}

.title-to-article:after {
    content: ' ';
    width: 50px;
    height: 3px;
    background-color: rgba(255, 0, 0, 1);
    margin: 10px;
    box-shadow: 0 1px 6px rgba(255, 0, 0, 0.3);
    border-radius: 8px;
}

.article-photo-img {
    width: 352px;
    height: auto;
}

.article-title {
    font: normal normal normal 19px/26px Nunito Sans;
    color: #6A6A6A;
    margin: 25px 0 15px 0;
}
.article-text {
    max-width: 260px;
    font: normal normal 300 14px/19px Open Sans;
    color: #6A6A6A;
    margin-bottom: 40px;
}
.article-btn {
    padding: 15px 40px;
    background-color: rgba(255, 0, 0, 1);
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
    border-radius: 50px;
    font-family: "Nunito Sans", sans-serif;
    font-weight: bold;
}

.page-content .container {
    margin: 100px auto;
    display: flex;
    justify-content: space-around;
}

.article-photo-img-service {
    width: 182px;
    height: auto;
}

.article-text-service {
    max-width: 231px;
    font: normal normal normal 14px/19px Open Sans;
    color: rgba(178, 178, 178, 1);
    margin-bottom: 55px;
    text-align: center;
}

.article-service {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 182px;
}

.page-content-service .container {
    margin: 100px auto;
    display: flex;
    justify-content: space-around;
}

.page-content-service {
    height: 643px;
    background-color: rgba(40, 39, 44, 1);
    position: relative;
}

.article-title-service {
    font-family: "Nunito Sans", sans-serif;
    font-size: 19px;
    color: rgba(255, 255, 255, 1);
    margin: 15px 0 25px 0
}

.container .title-to-article-service {
    display: flex;
    align-items: center;
}

.title-to-article-service {
    display: inline-block;
    justify-content: center;
    margin-top: 70px;
    font: normal normal bold 35px/47px Nunito Sans;
    text-transform: uppercase;
    position: absolute;
    color: rgba(255, 255, 255, 1);
}

.title-to-article-service:before {
    content: ' ';
    width: 50px;
    height: 3px;
    background-color: rgba(255, 0, 0, 1);
    margin: 10px;
    box-shadow: 0 1px 6px rgba(255, 0, 0, 0.3);
    border-radius: 8px;
}

.title-to-article-service:after {
    content: ' ';
    width: 50px;
    height: 3px;
    background-color: rgba(255, 0, 0, 1);
    margin: 10px;
    box-shadow: 0 1px 6px rgba(255, 0, 0, 0.3);
    border-radius: 8px;
}


.page-contact {
    max-height: 430px;
}

.input-container {
    display: inline-block;
}

.input-image {
    width: 444px;
    margin-bottom: 300px;
}

.input-name {
    width: 444px;
    box-shadow: 0 1px 6px rgba(255, 0, 0, 0.3);
    border: 1px solid rgba(255, 0, 0, 1);
    border-radius: 8px;
    padding:10px;
    margin:9px;
    color: rgba(178, 178, 178, 1);
    font: normal normal normal 16px/22px Nunito Sans;
}

.input-email {
    width: 444px;
    border: 1px solid rgba(209, 209, 209, 1);
    border-radius: 8px;
    padding:10px;
    margin:9px;
    color: rgba(178, 178, 178, 1);
    font: normal normal normal 16px/22px Nunito Sans;
}

textarea {
    width: 444px;
    height: 140px;
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(209, 209, 209, 1);
    border-radius: 8px;
    margin: 9px;
    color: rgba(178, 178, 178, 1);
    font: normal normal normal 16px/22px Nunito Sans;
}

textarea::placeholder {
    line-height: 22px;
}

.input-checkbox-text {
    max-width: 424px;
    float: right;
    color: rgba(178, 178, 178, 1);
    font: normal normal 300 10px/14px Open Sans;
    margin-top:20px;
}

input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    width: 22px;
    height: 22px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 20px;
    cursor: pointer;
    border: 1px solid rgba(209, 209, 209, 1);
    border-radius: 8px;
    vertical-align: bottom;
}

input[type="checkbox"]:after {
    content: url("../images/Icon Check.svg");
    margin-left: 4px;
    display: none;
}

input[type="checkbox"]:checked:after {
    display: block;
}

.btn-send {
    position: absolute;
    margin-bottom: 322px;
}

.container .btn-send {
    margin-top: 40px;
    margin-left:750px;
}

.btn-send {
    color: rgba(255, 0, 0, 1);
    box-shadow: 0 3px 6px rgba(255, 0, 0, 0.3);
    border: 1px solid rgba(255, 0, 0, 1);
    border-radius: 40px;
    padding: 10px 50px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Nunito Sans Bold', sans-serif;
    font-size: 14px;
    font-weight: bold;
}

footer {
    margin-top: 140px;
    background-color: rgba(40, 39, 44, 1);
    height: 250px;
}

.page-footer {
    margin-top: 100px;
}

.footer-logo {
    display: flex;
    align-items: center;
    color:white;
}

.footer-logo li {
    margin-left: 10px;
    color:white;
    text-transform: uppercase;
    font: normal normal bold 25px/34px Nunito Sans;
    margin-top: 40px;
}

.footer-logo li:nth-child(1) {
    color:red;
}

.footer-logo:before {
    content:url("../images/Logo Footer.svg");
    margin-top: 40px;
}

.footer-text {
    margin-top:22px;
}

.footer-text-list {
    columns: 2;
    width: 50%;
}

.footer-text-list li {
    padding:7px;
}

.footer-text-list a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font: normal normal bold 14px/19px Nunito Sans;
}

.footer-text-list .footer-different-color {
    color:red;
}

.footer-copyright  {
    width:100%;
    display: flex;
    justify-content: flex-end;
}

.footer-copyright-text {
    color:#D1D1D1;
    font: normal normal 300 12px/16px Nunito Sans;
}

